


<article class="container">
  <div class="span10">
    <h1 id='rails_and_app_tutorial'> Programacion Dispositivos</h1> <b>

  </b>


    <div class="inner" id="msg_93570"><br/><br/><img src="http://www.androidcurso.com/templates/jmint-tg/images/logo.png" alt="" class="bbc_img"/><br/><br/>1
  <strong><span class="bbc_u">Presentación Curso</span></strong><br/><br/>1
  <a href="http://polimedia.upv.es/visor/?id=d1480ed8-b757-5448-8bcb-4b42d2596c7d" class="bbc_link" target="_blank">
    Android Presentación&nbsp; </a> 11 min, 2 s<br/>2
  <a href="http://polimedia.upv.es/visor/?id=333181ad-ebb5-3e4a-9628-cd33567436f0" class="bbc_link" target="_blank">
    Android Herramientas Teleformación </a> 6 min, 47 s<br/><br/>2
  <span class="bbc_u"><strong>Java Esencial</strong></span><br/><br/>1
  <a href="http://polimedia.upv.es/visor/?id=77c4c54b-6197-9046-b890-b9a617b890d2" class="bbc_link" target="_blank">
    Características de Java </a> 8 min, 11 s<br/>2
  <a href="http://polimedia.upv.es/visor/?id=6bc70446-b4df-234f-90c0-bd7eb1f05e27" class="bbc_link" target="_blank">
    Creación de clases en Java </a> 9 min, 22 s<br/>3
  <a href="http://polimedia.upv.es/visor/?id=251aa841-9a29-484e-80f9-c305bc54663a" class="bbc_link" target="_blank"> El
    encapsulamiento y la visibilidad en Java </a> 8 min, 8 s<br/>4
  <a href="http://polimedia.upv.es/visor/?id=98061a93-766f-df4a-aab0-1273ab787ebd" class="bbc_link" target="_blank"> La
    herencia en Java </a> 9 min, 13 s<br/>5
  <a href="http://polimedia.upv.es/visor/?id=59b7f462-59e4-194c-bf5e-e51484baf8a4" class="bbc_link" target="_blank"> El
    polimorfismo en Java</a> 8 min, 47 s<br/><br/>3
  <span class="bbc_u"><strong>Introducción a Android y entorno de desarrollo</strong></span><br/><br/>1&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=f1e773cb-8dee-3e44-80fe-83f4adcaf316" class="bbc_link" target="_blank">
    Introducción a la plataforma para móviles Android </a>&nbsp; 8 min, 41 s<br/>2&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=baaac6b1-eecb-844f-ab6b-a4a676f69c02" class="bbc_link" target="_blank">
    Comparativa de las principales plataformas para moviles </a> 9 min, 20 s<br/>3&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=6d24af05-8a7f-894d-905b-dada5ffd509c" class="bbc_link" target="_blank">
    Arquitectura de Android </a> 7 min, 47 s<br/>4&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=369f4bb6-5809-db4e-afa2-f5e2e92c1ba7" class="bbc_link" target="_blank"> Un
    primer programa en Android </a> 8 min, 23 s<br/><br/>5&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=f2f9703c-049b-c349-a95e-4cb5150b70e7" class="bbc_link" target="_blank">
    Elementos de un proyecto Android </a> 6 min, 54 s<br/><br/>4
  <span class="bbc_u"><strong>Diseño del interfaz de usuario - Vistas y Layouts</strong></span><br/><br/>1&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=3e7f7068-f4e8-9f42-b573-c76fa9ba1bd7" class="bbc_link" target="_blank"> Los
    Layouts en Android </a> 5 min, 20 s<br/>2&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=2626d76a-790d-c540-bd65-d50ed5898e8c" class="bbc_link" target="_blank"> Uso
    de recursos alternativos en Android&nbsp; </a> 7 min, 42 s<br/>3&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=53ed7d7d-ae0a-3d44-8e6a-e432f10f30d1" class="bbc_link" target="_blank">
    Estilos y Temas en Android&nbsp; </a> 6 min, 24 s<br/>4&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=6f39be43-82eb-b546-9b3d-55d9c71968c6" class="bbc_link" target="_blank">Atributos
    de la clase View en Android </a> <br/>5&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=b415ec0a-937d-3e42-8cdc-27ab1cf187fb" class="bbc_link" target="_blank">
    Atributos de la clase TextView en Android </a> <br/>6&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=b4a69883-864e-5c46-be58-549d4c323312" class="bbc_link" target="_blank"> La
    vista TabHost en
    Android&nbsp; </a>&nbsp; &nbsp;<br/><br/>5<strong><span class="bbc_u"> Actividades e Intenciones</span></strong><br/><br/>1&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=112c1b25-5be2-bf40-b9f0-e8fe9faa90ef" class="bbc_link" target="_blank">
    Actividades en Android</a> 7 min, 1 s<br/>2&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=a23037a2-f642-d343-b6bc-8f719b054b5c" class="bbc_link" target="_blank">
    Intercambio de datos entre actividades</a> 9 min, 18 s<br/>3&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=e8ba69a2-00aa-6645-90f1-f2afec8a48cb" class="bbc_link" target="_blank">
    Añadiendo un menú en Android </a> 5 min, 30 s<br/>4&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=67dd3f7e-551b-574a-a6b9-94c96a4573f1" class="bbc_link" target="_blank">
    Añadiendo iconos en Android</a> 8 min, 48 s<br/>5&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=0405990f-e2dc-9940-945d-66b86795f83c" class="bbc_link" target="_blank">Añadir
    preferencias en Android </a> 7 min, 34 s<br/>6&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=c4f4cae4-1571-c54f-987f-2dce258cd259" class="bbc_link" target="_blank"> Uso
    de ListView </a> 10 min, 33 s<br/>7
  <a href="http://polimedia.upv.es/visor/?id=b2dbe09d-613b-6a43-9b81-8acf75777dda" class="bbc_link" target="_blank"> Las
    intenciones en Android </a> 10 min, 39 s<br/>8&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=9a4394b3-90b3-b54c-945c-5e200a923153" class="bbc_link" target="_blank">
    Tipos de Recursos en Android</a> 8 min, 51 s<br/>9&nbsp;
  <a href="http://polimedia.upv.es/visor/?id=9df66b10-b5ca-a143-9df3-89c7f4e8b4bf" class="bbc_link" target="_blank">
    Recursos del sistema en Android </a> 8 min, 29 s<br/><br/>6
  <strong><span class="bbc_u">Gráficos en Android</span></strong><br/><br/>1
  <a href="http://polimedia.upv.es/visor/?id=68cd39db-0b86-f04a-96a4-f76d643c0dcb" class="bbc_link" target="_blank">
    APIs para gráficos en Android </a>&nbsp; 6 min, 32 s<br/>2
  <a href="http://polimedia.upv.es/visor/?id=ae46ba43-9f62-794b-b0de-e7dc24dbddde" class="bbc_link" target="_blank"> La
    clase Canvas en Android </a> 6 min, 18 s<br/>3
  <a href="http://polimedia.upv.es/visor/?id=0a62eba0-1e44-f843-9943-e7be0c09712c" class="bbc_link" target="_blank"> La
    clase Paint en Android&nbsp; </a> 6 min, 54 s<br/>4
  <a href="http://polimedia.upv.es/visor/?id=3b61fe36-656c-9443-b1a4-9f0d5d3a1328" class="bbc_link" target="_blank"> La
    clase Drawable en Android </a> 7 min, 54 s<br/><br/>7
  <strong><span class="bbc_u">Entradas en Android: teclado, pantalla táctil y sensores</span></strong><br/><br/>1
  <a href="http://polimedia.upv.es/visor/?id=417575d9-e501-b546-83f4-44ad96baae33" class="bbc_link" target="_blank">
    Hilos de ejecución en Android </a> 9 min, 28 s<br/>2
  <a href="http://polimedia.upv.es/visor/?id=79591d37-7a0d-e646-b830-c4051e0c7721" class="bbc_link" target="_blank">
    Escuchadores de eventos y manejadores de eventos en Android </a> 12 min, 13 s<br/>3
  <a href="http://polimedia.upv.es/visor/?id=916ba522-b72c-7541-accb-9cf185a6c03d" class="bbc_link" target="_blank">
    Sensores en dispositivos móviles&nbsp; </a> 13 min, 20 s<br/><br/>8
  <strong><span class="bbc_u">Multimedia y ciclo de vida</span></strong><br/><br/>1
  <a href="http://polimedia.upv.es/visor/?id=6e7d2dc9-c8d7-1144-8db7-33c58545d059" class="bbc_link" target="_blank">
    Ciclo de vida de una aplicación Android </a>7 min, 42 s<br/>2
  <a href="http://polimedia.upv.es/visor/?id=9793556b-6331-8049-a316-ba7a3f5dd5cb" class="bbc_link" target="_blank">
    Guardar el estado de las Actividades en Android </a> 10 min, 34 s<br/>3
  <a href="http://polimedia.upv.es/visor/?id=baae6ab7-e653-6642-877e-710837e94d60" class="bbc_link" target="_blank">El
    ciclo de vida de las aplicaciones en Android: Un ejemplo paso a paso</a> 9 min, 52 s<br/>4
  <a href="http://polimedia.upv.es/visor/?id=56205fac-f54c-e148-b324-c1a52845267d" class="bbc_link" target="_blank">
    Ciclo de vida de los procesos en Android </a> 7 min, 38 s<br/>5
  <a href="http://polimedia.upv.es/visor/?id=a84975eb-23a7-1440-9bce-ca61093a2c78" class="bbc_link" target="_blank">
    Multimediaen Android&nbsp; &nbsp;</a> 8 min, 45 s<br/><br/>9
  <span class="bbc_u"><strong>Seguridad y posicionamiento</strong></span><br/><br/>1
  <a href="http://polimedia.upv.es/visor/?id=40ef6a7f-7020-dd4e-9d9c-b65111b15f10" class="bbc_link" target="_blank">
    Seguridad en Android&nbsp; </a> 6 min, 3 s<br/>2
  <a href="http://polimedia.upv.es/visor/?id=e5cb9084-90c0-e643-805e-1999500a8595" class="bbc_link" target="_blank"> Los
    permisos en Android </a>&nbsp; 7 min, 12 s<br/>3
  <a href="http://polimedia.upv.es/visor/?id=98695d11-c540-7a42-9b64-c4d29169e26a" class="bbc_link" target="_blank">
    Permisos definidos por el usuario en Android </a> 7 min, 17 s<br/><br/>10
  <strong><span class="bbc_u">Servicios, notificaciones y receptores de anuncios</span></strong><br/><br/>1
  <a href="http://polimedia.upv.es/visor/?id=c568cf17-8130-1949-a452-038e5fa807b7" class="bbc_link" target="_blank">
    Servicios en Android </a> 6 min, 53 s<br/>2
  <a href="http://polimedia.upv.es/visor/?id=08033fae-de6c-9240-85cd-cefd3c784e47" class="bbc_link" target="_blank"> Un
    servicio para ejecución en segundo plano </a> 12 min, 53 s<br/>3
  <a href="http://polimedia.upv.es/visor/?id=f589a70f-e8a3-4649-be1c-f5829569b7cc" class="bbc_link" target="_blank"> Un
    servicio como mecanismo de comunicación entre aplicaciones&nbsp; </a> 7 min, 48 s<br/>4
  <a href="http://polimedia.upv.es/visor/?id=36fc384c-a761-ba46-b6c5-31eadced98d7" class="bbc_link" target="_blank">
    Notificaciones en Android </a>10 min, 41 s<br/><br/>11
  <strong><span class="bbc_u">Almacenamiento Datos</span></strong><br/><br/>1
  <a href="http://polimedia.upv.es/visor/?id=2ba141be-3429-7344-92aa-65e5815cc367" class="bbc_link" target="_blank">
    Almacenamiento Datos en Android </a> 9 min, 10 s<br/>2
  <a href="http://polimedia.upv.es/visor/?id=16a85e6c-fbe8-0646-b948-6343e173c2db" class="bbc_link" target="_blank">
    Gestión de ficheros en Android </a> 7 min, 35 s<br/>3
  <a href="http://polimedia.upv.es/visor/?id=de1072f1-3623-404b-9c9b-b74d97638364" class="bbc_link" target="_blank">Almacenamiento
    de ficheros externos en Android </a> 9 min, 23 s<br/>4
  <a href="http://polimedia.upv.es/visor/?id=0303837d-2982-5948-b34b-c3704df15cff" class="bbc_link" target="_blank"> Uso
    de base de datos en Android </a> 14 min, 47 s<br/><br/>12
  <strong><span class="bbc_u">Internet: sockets, HTTP y servicios Web</span></strong><br/><br/>1
  <a href="http://polimedia.upv.es/visor/?id=b60d5394-7e88-1743-a6d5-1ea2eaf4f89e" class="bbc_link" target="_blank">
    Socket&nbsp; </a>Socket&nbsp; &nbsp;4 min, 45 s<br/>2
  <a href="http://polimedia.upv.es/visor/?id=7f7c614d-fe95-7841-83dc-10d50fda377e" class="bbc_link" target="_blank">
    Protocolo HTTP 1 </a> 6 min, 16 s<br/>3
  <a href="http://polimedia.upv.es/visor/?id=4f67dddc-49f4-cd44-a4ff-fe3f0b8f8411" class="bbc_link" target="_blank">
    Protocolo HTTP 2&nbsp; </a> 10 min, 48 s<br/><br/>13
  <strong><span class="bbc_u">Publicar Aplicaciones</span></strong><br/><br/>1
  <a href="http://polimedia.upv.es/visor/?id=b03514e3-1070-9046-89cb-8c5811d3a171" class="bbc_link" target="_blank">
    Aspectos previos a la publicación en Android&nbsp; </a>10 min, 21 s<br/>2
  <a href="http://polimedia.upv.es/visor/?id=0fa165ab-e734-1344-be1a-1fb1edd0d14b" class="bbc_link" target="_blank"> La
    firma digital&nbsp; </a> 2 min, 23 s<br/>3
  <a href="http://polimedia.upv.es/visor/?id=bdda8380-daff-f145-b6e0-ceadca33d623" class="bbc_link" target="_blank">
    Firmar una aplicación Android&nbsp; </a> 8 min, 4 s<br/>4
  <a href="http://polimedia.upv.es/visor/?id=77ddb493-8dee-7242-a4f1-fd05b74df4ae" class="bbc_link" target="_blank">
    Publicar en Google Play&nbsp; &nbsp; </a> 12 min, 33 s <br/></div>
</div>
    </article>
<br><br><br><br><br><br>        <br>