<article>
  <div class="span10">
    <h1 id='setup_recipe_for_rails_girls'>Guia de instalación de ruby on rails</h1>
    <span class='muted'>ref:rails</span>

    <p>Para construir aplicaciones y otras cosas con Ruby on Rails, tenemos que configurar algún software y el entorno
      de desarrollo para su equipo.</p>

    <p>Siga las instrucciones para su sistema operativo. Si usted choca con algún problema, no se asuste. </p>

    <ul>
      <li><a href='#setup_for_os_x'>Configuración para OS X</a></li>

      <li><a href='#setup_for_windows'>Configuración para Windows</a></li>

      <li><a href='#setup_for_ubuntu'>Configuración para Ubuntu</a></li>
    </ul>
    <hr/>
    <h2 id='setup_for_os_x'>Configuración para OS X</h2>

    <p><strong>Paso 1.</strong> Vamos a comprobar la versión del sistema operativo.</p>

    <p>Haga clic en el menú Apple y seleccione <em>Acerca de</em>.</p>

    <p><%= image_tag "1.jpg", :alt => 'Apple menu' %></p>

    <p><strong>Paso 2.</strong> En la ventana que se encuentra la versión de su sistema operativo. Si el número de
      versión comienza con un 10,6, 10,7 o 10,8 de esta guía es para usted.</p>

    <p><%= image_tag '2.png', :alt => 'About this Mac dialog' %></p>

    <p><strong>Paso 3.</strong> Descargue el RailsInstaller para su versión de OS X:</p>

    <ul>
      <li>
        <a href='https://github.com/downloads/railsinstaller/railsinstaller-nix/RailsInstaller-1.0.3-osx-10.7.app.tgz'>RailsInstaller
          for 10.7 and 10.8</a> <span class='muted'>(325MB)</span></li>

      <li>
        <a href='https://github.com/downloads/railsinstaller/railsinstaller-nix/RailsInstaller-1.0.3-osx-10.6.app.tgz'>RailsInstaller
          for 10.6</a> <span class='muted'>(224MB)</span></li>
    </ul>

    <p>Haga doble clic en el archivo descargado y se lo desempaqueta en el directorio actual. Haga doble clic en la
      recién desempacado 'RailsInstaller-1.0.3-osx-10.7.app' o 'RailsInstaller-1.0.3-osx-10.6.app' y siga las
      instrucciones. Se abrirá un archivo README con "rieles de instalación OS X" en la parte superior. Por favor,
      <strong>ignorar</strong> las instrucciones de este archivo.</p>

    <p><strong>Paso final.</strong> Instale un editor de texto para editar archivos de código. Para el taller se
      recomienda el texto editor de texto Sublime.</p>

    <ul>
      <li><a href='http://www.sublimetext.com/2' target="_blank">Descargar Sublime Text e instalarlo</a></li>
    </ul>

    <p>Ahora usted ya puede programar en ruby. ¡Felicitaciones!</p>
    <hr/>
    <h2 id='setup_for_windows'>Configuración para Windows</h2>

    <p>Descargar <a href='http://rubyforge.org/frs/download.php/75894/railsinstaller-2.1.0.exe'>RailsInstaller</a> y
      ejecutarlo. Haga clic a través del instalador con las opciones por defecto.</p>


    <p><strong>Paso final.</strong> También es necesario un editor de texto para editar archivos de código. Para el
      taller se recomienda el texto editor de texto Sublime.</p>

    <ul>
      <li><a href='http://www.sublimetext.com/2 ' target="_blank">Descargar Sublime Text e instalarlo</a></li>
    </ul>

    <p>Ahora usted ya puede programar en ruby. ¡Felicitaciones!</p>
    <hr/>
    <h2 id='setup_for_ubuntu'>Configuración para Ubuntu</h2>

    <p>Para instalar el entorno Ruby on Rails sólo tienes que copiar y pegar esta línea en el terminal y pulse Entrar.
      Disfrute del texto en la pantalla, se tardará bastante tiempo. :)</p>

    <div class='highlight'><pre><code class='sh'>bash &lt; &lt;<span class='o'>(</span>curl -s
      https://raw.github.com/railsgirls/installation-scripts/master/rails-install-ubuntu.sh<span class='o'>)</span>
    </code></pre>
    </div>
    <p><strong>Paso final.</strong> También es necesario un editor de texto para editar archivos de código. Para el
      taller se recomienda el texto editor de texto Sublime.</p>

    <ul>
      <li><a href='http://www.sublimetext.com/2' target="_blank">Descargar Sublime Text e instalarlo</a></li>
    </ul>

    <p>Ahora usted ya puede programar en ruby. ¡Felicitaciones!</p>
    <hr/>
  </div>
</article>
