<h2>
  <%= link_to '<i class="glyphicon glyphicon-circle-arrow-left"></i>'.html_safe, tutorials_index_path %>
</h2>
<CENTER>
  <iframe id="form" height="500" width="1024" src="http://www.cristalab.com/tutoriales/introduccion-a-codeigniter-c109252l/"></iframe>
</CENTER>