/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body{
  /*  background-image: url("bg.jpg");
    color: #ffffff;      */
}

#footerp  h1 a:hover{
    color: rgba(253, 151, 43, 0.91);

}
h3{
    color: #705c73;
}
#footerp{
    position: fixed !important;
    position: absolute;
    bottom: 0;
    left: 0;
    clear: both;
    width: 100%;
    bottom:0px;
    text-decoration: none;
    margin-top: 10px;
    background-color: #B41D23;
    background: linear-gradient(rgba(180,29,35,1.0), rgba(78,22,21,1.0));
    background: -moz-linear-gradient(rgba(180,29,35,1.0), rgba(78,22,21,1.0));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(180,29,35,1.0)), to(rgba(78,22,21,1.0)));
      height: 110px;

   z-index: 80;
/*/*fat: right;
   margin-top: -40px;*/
}
#footerp p{
    color: #ffffff;
    text-decoration: none;
    margin-top: -8px;
    float: right;
}
#footerp a{
    color: #fff6f9;
    text-decoration: none;
}
#footerp p a:hover{
    color: #df8527;
    text-decoration: none;

}


#fb a:hover{
     color: #5882ff;
}
#tw a:hover{
    color: #6ed8ff;
}
hr{
    margin-top: -18px;
    border-color: #aca6aa;
    border-width: 1px;
}

