#lava-menu {
    /*
    background-image: linear-gradient(bottom, #302F30 0%, #454545 100%);
    background-image: -o-linear-gradient(bottom, #302F30 0%, #454545 100%);
    background-image: -moz-linear-gradient(bottom, #302F30 0%, #454545 100%);
    background-image: -webkit-linear-gradient(bottom, #302F30 0%, #454545 100%);
    background-image: -ms-linear-gradient(bottom, #302F30 0%, #454545 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #302F30),color-stop(1, #454545));
    border-bottom: 2px solid #222222;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    */
    height: 40px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
    /* width: 600px; Tamanio del menu*/
}

#lava-menu li {
    display: block;

    float: left;
    position: relative;
}

#lava-menu a {
    color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica;
    line-height: 1.25;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 18px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000000;
    opacity: 0.3;

}

#lava-menu li:hover a {
   /* background:#111;
    */opacity: 1.0;
}

.cont-l {
    background-color: #563dad;
    height: 3px;
    position: relative;
}


#lavalamp {
    background: none repeat scroll 0 0 #563dad;
    border-radius: 20px 20px 20px 20px;
    height: 10px;
    left: 35px;
    margin-top: -3px;
    position: absolute;
    width: 10px;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

#lava-menu li:nth-child(1):hover ~ .cont-l > #lavalamp {
    left: 35px;
}
#lava-menu li:nth-child(2):hover ~ .cont-l > #lavalamp {
    left: 130px;
}
#lava-menu li:nth-child(3):hover ~ .cont-l > #lavalamp {
    left: 215px;
}
#lava-menu li:nth-child(4):hover ~ .cont-l > #lavalamp {
    left: 295px;
}
#lava-menu li:nth-child(5):hover ~ .cont-l > #lavalamp {
    left: 372px;
}
#lava-menu li:nth-child(6):hover ~ .cont-l > #lavalamp {
    left: 445px;
}

#lava-menu li ul {
    display:none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
}

#lava-menu li ul li {
    background: none repeat scroll 0 0 #242424;
    border-bottom: 1px solid #131313;
    border-top: 1px solid #373737;
    width: 200px;
}

#lava-menu li:hover ul {
    display:block;
}

#lava-menu li ul li a {
    background: none !important;
}

#lava-menu li ul li a:hover {
    background: #111 !important;
}