<div id="readme" class="blob instapaper_body">
<article class="container" itemprop="mainContentOfPage"><h1>
  <a name="matrices-e-iteraciones" class="anchor" href="#matrices-e-iteraciones"><span class="mini-icon mini-icon-link"></span></a>Matrices e Iteraciones</h1>

<p>Vamos a escribir un programa el cual nos pida digitar tantas
  palabras como nosotros querramos (una palabra por línea),
  continuando hasta que oprimamos <em>Enter</em> en una línea
  vacia), el cual luego nos devolverá las palabras en orden
  alfabetico. OK?</p>

<p>Entonces... nosotros primero vamos; uh... um... hmmm...  Bueno,
  nosotros podríamos; er... um...</p>

<p>Tú sabes, no pienso que podamos hacer esto. Necesitamos una
  forma de almacenar una cantidad desconocida de palabras y como
  obtener todas ellas juntas, entonces no se confundan con otras
  variables. Necesitamos colocarlas en un tipo de lista. Lo que
  necesitamos son <em>matrices</em>.</p>

<p>Una matriz es solo una lista en su computadora. Cada  posición en
  la lista actúa como una variable: puedes ver que objeto en
  particular apunta a cada posición, y puedes hacer que este apunte
  a un objeto diferente. Vamos a echar un vistazo a algunas matrices:</p>

<pre><code>[]
  [5]
  ['Hola', 'Adiós']

  flavor = 'vainilla'           #  Esto no es una matriz, por supuesto...
  [89.9, sabor, [true, false]]  #  ...pero esto sí lo es.
</code></pre>

<p>Entonces primero tenemos una matriz vacía, luego una matriz
  conteniendo un número simple, luego una matriz que contiene
  dos textos. Siguiendo, tenemos una simple asignación, luego
  un array conteniendo tres objetos, de los cuales el último
  es la matriz <code>'[true, false]'</code>. Recuerda, variables
  no son objetos, entonces nuestra ultima matriz es en realidad
  un flotante, un <em>texto</em>, y una matriz. Aún asi si
  nosotros hubieramos puesto <code>'sabor'</code> a punto o algo más,
  esto no hubiera cambiado la matriz.</p>

<p>Para ayudarnos a encontrar un objeto particular en una matriz,
  cada posición es dada por un índice numérico. Programadores
  (y, por cierto, la mayoría de los matemáticos) comienzan
  contando desde cero, por lo que la primera posicion del array
  es cero. Aquí es como nosotros deberíamos referenciar los
  objetos en una matriz:</p>

<p><em>Código:</em></p>

<pre><code>names = ['Ada', 'Belle', 'Chris']

  puts names
  puts names[0]
  puts names[1]
  puts names[2]
  puts names[3]  #  Este esta fuera del rango.
</code></pre>

<p><em>Resultado:</em></p>

<pre><code>    Ada
  Belle
  Chris
  Ada
  Belle
  Chris
</code></pre>

<p>Entonces, nosotros vemos que <code>'puts names'</code> imprime
  cada nombre en la matriz <code>'names'</code>. Luego usamos
  <code>'puts names[0]'</code> para imprimir el "primer" nombre en
  la matriz, y <code>'puts names[1]'</code> para imprimir el "segundo"
  ... Estoy seguro que esto parece confuso, pero puedes
  acostumbrarte a esto. Tienes que realmente solo comenzar
  pensando que el contador comienza en cero, y dejas de usar
  palabras como "primero" y "segundo"</p>

<p>Si tienes un conjunto de cinco cursos, no hablas acerca del "primer"
  curso, hablas acerca del curso cero (y en tu cabeza, estás pensando
  <code>'course[0]'</code>). Tú tienes cinco dedos en tu mano derecha,
  y sus números son 0, 1, 2, 3 y 4. Mi esposa y yo somos malabaristas.
  Cuando hacemos malabares con seis objetos, nosotros estamos con
  los objetos 0-5. Esperamos en los próximos meses, poder manejarnos
  con el objeto 6(y por lo tanto trataremos de manejarnos con 7 objetos)
  Tu sabrás que lo has aprendido cuando comiences a usar la palabra
  "cero". Sí, esto es real; pregunta a cualquier programador o
  matemático.</p>

<p>Finalmente, tratamos <code>'puts names[3]'</code>, solo para ver
  que podría suceder. ¿Estabas esperando un error? Algunas veces
  cuando preguntas algo, tu pregunta no tiene sentido (al menos para
  tu computadora); ahí es cuando obtienes un error.
  Algunas veces, en cambio, tu puedes preguntar algo y la
  respuesta es nada. ¿Qué hay en la posición tres? Nada.
  ¿Qué hay en <code>'names[3]'</code>?  <code>'nil'</code>: Es la forma Ruby
  de decir "nada". <code>'nil'</code>  es un objeto especial que
  significa "no hay ningún objeto".</p>

<p>Si todo este divertido numerado de posiciones esta molestándote,
  ¡no te preocupes! También, podemos evitar esto completamente usando
  varios metodos para matrices, como el que sigue:</p>

<h2>
  <a name="el-metodo-each" class="anchor" href="#el-metodo-each"><span class="mini-icon mini-icon-link"></span></a>El Metodo <code>'each'</code>
</h2>

<p><code>'each'</code> nos permite hacer algo (lo que queramos)
  a <em>cada</em> objeto que apunte. Asi, si queremos decir algo
  bueno acerca de cada lenguaje en la matriz de abajo, podriamos hacer
  esto:</p>

<p><em>Código:</em></p>

<pre><code>lenguajes = ['Inglés', 'Alemán', 'Ruby']

  lenguajes.each do |leng|
  puts '¡Me gusta ' + leng + '!'
  puts '¿A ti?'
  end

  puts '¡Y vamos a escuchar esto para C++!'
  puts '...'
</code></pre>

<p><em>Resultado:</em></p>

<pre><code>¡Me gusta Inglés!
  ¿A tí?
  ¡Me gusta Alemán!
  ¿A tí?
  ¡Me gusta Ruby!
  ¿A tí?
  ¡Y vamos a escuchar esto para C++!
  ...
</code></pre>

<p>¿Qué acaba de ocurrir? Bueno, tenemos permitido ir a través
  de cada objeto en la matriz sin utilizar ningun número, así
  esto es definitivamente mejor. Traducido al español
  diriamos que: Para cada <code>'each'</code> objeto en <code>'lenguajes'</code>,
  apunta la variable <code>'leng'</code> al objeto y entonces <code>'do'</code>
  (do = hacer) todo lo que te digo, hasta que llegues al <code>'end'</code>.
  (Sólo para que sepas, C++ es otro lenguaje de programación. Este es
  mucho mas difícil de aprender que Ruby; por lo general, un programa
  hecho en C++ será muchas veces más extenso que un programa en Ruby
  que haga la misma funcionalidad)</p>

<p>Tú estarás pensando para ti mismo, "Esto es un montón de bucles
  como los que hemos aprendido antes". Sí, esto es similar.
  Una diferencia importante es que el método <code>'each'</code> es solo eso:
  un método. <code>'while'</code> y <code>'end'</code>; tal como <code>'do'</code>,
  <code>'if'</code>, <code>'else'</code>, y todas las otras "palabras" no lo son.
  Ellos son una parte fundamental del lenguaje Ruby,
  tal como <code>'='</code> y los paréntesis son tipos de puntuación como en español.</p>

<p>Pero no <code>'each'</code>; <code>'each'</code> es solo otro método de la matriz.
  Métodos como `'each' los cuales 'actuan como' bucles son a menudo
  llamados <em>iteradores</em>.</p>

<p>Algo para saber sobre iteradores es que estos son siempre seguidos por
  <code>'do'</code>...<code>'end'</code>.
  <code>'while'</code> y <code>'if'</code> nunca tuvieron un <code>'do'</code> cerca de ellos;
  nosotros solo usamos <code>'do'</code> con iteradores</p>

<p>Aquí hay otro pequeño iterador, pero esto no es un método para <em>matriz</em>... es un método
  para <em>entero</em>!</p>

<p><em>Código:</em></p>

<pre><code>3.times do
  puts 'Hip-Hip-Hooray!'
  end
</code></pre>

<p><em>Resultado:</em></p>

<pre><code>Hip-Hip-Hooray!
  Hip-Hip-Hooray!
  Hip-Hip-Hooray!
</code></pre>

<h2>
  <a name="mas-m%C3%A9todos-para-matrices" class="anchor" href="#mas-m%C3%A9todos-para-matrices"><span class="mini-icon mini-icon-link"></span></a>Mas métodos para Matrices</h2>

<p>Entonces hemos aprendido sobre <code>'each'</code>, pero hay muchos métodos
  más... al menos muchos como métodos para matrices. De hecho, algunos de ellos
  (como <code>'length'</code>, <code>'reverse'</code>, <code>'+'</code>, y <code>'*'</code> )
  trabajan igual que lo hacen para textos, excepto que ellos operan sobre
  las posiciones de una matriz y no sobre letras de un texto. Otros, como
  <code>'last'</code> y <code>'join'</code>, son específicos de matrices. Aún otros,
  como <code>'push'</code> y <code>'pop'</code>, en realidad cambian la matriz. Y
  así como con métodos para textos, no tienes que recordar todos, puedes
  recurrir a recordar sobre ellos buscando información.</p>

<p>Primero, vamos a echar un vistazo a <code>'to_s'</code> y <code>'join'</code>.
  <code>'join'</code> trabaja tal como <code>'to_s'</code> lo hace, excepto que
  este agrega un texto entre los objetos de la matriz.
  Vamos a mirar un poco:</p>

<p><em>Código:</em></p>

<pre><code>alimentos = ['artichoke', 'brioche', 'caramel']

  puts alimentos
  puts
  puts alimentos.to_s
  puts
  puts alimentos.join(', ')
  puts
  puts alimentos.join('  :)  ') + '  8)'

  200.times do
  puts []
  end
</code></pre>

<p><em>Resultado:</em></p>

<pre><code>artichoke
  brioche
  caramel

  ["artichoke", "brioche", "caramel"]

  artichoke, brioche, caramel

  artichoke  :)  brioche  :)  caramel  8)
</code></pre>

<p>Como puedes ver, <code>'puts'</code> trata la matriz diferente  a otros objetos:
  solo llama <code>'puts'</code> sobre cada uno de los objetos en la matriz.
  Esto es porque <code>'puts'</code> con una matriz vacía 200 veces no hace nada; la
  matriz no apunta a nada; entonces no hay nada para <code>'puts'</code>. (Hacer nada
  200 veces continúa siendo hacer nada)</p>

<p>Trata de usar <code>'puts'</code> en una matriz conteniendo otras matrices; ¿hace lo
  que esperabas que hiciera?</p>

<p>También, te habrás dado cuenta que dejé fuera el texto vacio cuando quise
  hacer <code>'puts'</code> de una línea en blanco? Esto hace lo mismo.</p>

<p>Ahora vamos a echar un vistazo a <code>'push'</code>, <code>'pop'</code>, y  <code>'last'</code>.
  Los métodos <code>'push'</code> y <code>'pop'</code> son una suerte de métodos opuestos como
  lo son <code>'+'</code> y <code>'-'</code>. <code>'push'</code> agrega un objeto al final de la matriz,
  y <code>'pop'</code> quita el último objeto desde la matriz (y te dice que objeto es).
  <code>'last'</code> es similar a <code>'pop'</code> en el sentido que te indica que hay al final
  de la matriz, excepto que este deja la matriz. De nuevo, <code>'push'</code> y <code>'pop'</code>
  en realidad cambian la matriz:</p>

<p><em>Código:</em></p>

<pre><code>favoritos = []
  favoritos.push 'lluvia de rosas'
  favoritos.push 'whisky en gatitos'

  puts favoritos[0]
  puts favoritos.last
  puts favoritos.length

  puts favoritos.pop
  puts favoritos
  puts favoritos.length
</code></pre>

<p><em>Resultado:</em></p>

<pre><code>lluvia de rosas
  whisky en gatitos
  2
  whisky en gatitos
  lluvia de rosas
  1
</code></pre>

<h2>
  <a name="algunas-cosas-por-intentar" class="anchor" href="#algunas-cosas-por-intentar"><span class="mini-icon mini-icon-link"></span></a>Algunas cosas por intentar</h2>

<ul>
  <li><p>Escribe el programa del cual hablamos al principio de este capítulo.
    <strong>Consejo:</strong>  Hay un hermoso método para matrices el cual te dará la
    version ordenada de una matriz: <code>'sort'</code>. Usalo!</p></li>
  <li><p>Escribe el programa sugerido anteriormente sin usar
    el método <code>'sort'</code>.  Una gran parte de la programación es la solución de
    problemas, entonces ¡obtén toda la practica que puedas!</p></li>
  <li><p>Reescribe tu programa <code>Tabla de contenidos</code> (en el capítulo sobre <code>'métodos'</code>).
    Comienza el programa con una matriz conteniendo toda la información de tu
    Tabla de Contenidos (capítulo textos,
    capítulo números, etc.). Entonces imprime la información desde
    la matriz en una bien formada Tabla de Contenidos.</p></li>
</ul><p>Hemos aprendido varios métodos diferentes.
  Ahora es tiempo de aprender como
  <%=  link_to "hacerlo por nosotros mismos", :controller => :tutorial, :action => :metodospropios %>.</p></article>
</div>
<br><br><br><br><br><br><br><br>
